<head>
	<title>Validador Licencas CPC</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>

{% if bad|length > 0 %}

<h2>Inválidas ({{bad|length}})</h2>

<table>
	<tr>
		<th>Razao</th>
		<th>Licença</th>
		<th>Condutor</th>
		<th>Cao</th>
		<th>Nº Registo</th>
		<th>Grau</th>
		<th>Categoria</th>
		<th>Data</th>
	</tr>
{% for item in bad %}
	<tr>
		<td>{{item.reason}}</td>
		<td>{{item.dog['Agility License Number']}}</td>
		<td>{{item.dog['Handler (full name)']}}</td>
		<td>{{item.dog['Dog Name']}}</td>
		<td>{{item.dog['Dog Studbook Number']}}</td>
		<td>{{item.dog['Grade']}}</td>
		<td>{{item.dog['Category']}}</td>
		<td>{{item.dog['Trial Date']}}</td>
	</tr>
{% endfor %}
</table>


{% endif %}

{% if warn|length > 0 %}

<h2>Aviso ({{warn|length}})</h2>

<table>
	<tr>
		<th>Razao</th>
		<th>Licença</th>
		<th>Condutor</th>
		<th>Cao</th>
		<th>Grau</th>
		<th>Categoria</th>
		<th>Data</th>
	</tr>
{% for item in warn %}
	<tr>
		<td>{{item.reason}}</td>
		<td>{{item.dog['Agility License Number']}}</td>
		<td>{{item.dog['Handler (full name)']}}</td>
		<td>{{item.dog['Dog Name']}}</td>
		<td>{{item.dog['Grade']}}</td>
		<td>{{item.dog['Category']}}</td>
		<td>{{item.dog['Trial Date']}}</td>
	</tr>
{% endfor %}
</table>


{% endif %}

{% if good|length > 0 %}
<h2>Boas ({{good|length}})</h2>

<table>
	<tr>
		<th>Licença</th>
		<th>Condutor</th>
		<th>Cao</th>
		<th>Grau</th>
		<th>Categoria</th>
		<th>Data</th>
	</tr>
{% for item in good %}
	<tr>
		<td>{{item['Agility License Number']}}</td>
		<td>{{item['Handler (full name)']}}</td>
		<td>{{item['Dog Name']}}</td>
		<td>{{item['Grade']}}</td>
		<td>{{item['Category']}}</td>
		<td>{{item['Trial Date']}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}


{% if ignored|length > 0 %}
<h2>Nao Validadas ({{ignored|length}})</h2>

<table>
	<tr>
		<th>Licença</th>
		<th>Federacao</th>
		<th>Condutor</th>
		<th>Cao</th>
		<th>Grau</th>
		<th>Categoria</th>
		<th>Data</th>
	</tr>
{% for item in ignored %}
	<tr>
		<td>{{item['Agility License Number']}}</td>
		<td>{{item['Agility Federation']}}</td>
		<td>{{item['Handler (full name)']}}</td>
		<td>{{item['Dog Name']}}</td>
		<td>{{item['Grade']}}</td>
		<td>{{item['Category']}}</td>
		<td>{{item['Trial Date']}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}


</body>
